/* CSS Document */
@font-face {
  font-family: 'kalam';
  src: url('fonts/Kalam-Bold.ttf')  format('truetype'),
       url('fonts/Kalam-Light.ttf')  format('truetype'),
       url('fonts/Kalam-Regular.ttf')  format('truetype');
}
*, *::after, *::before {
  box-sizing:border-box;
  margin: 0;
  font-family: sans-serif;
}
section {
  padding: 15px;
}
ul {
  list-style-type:none;
  padding: 0;
}
a {
  color: #000;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
  font-weight: 700;
  font-size: 14px;
  padding: 1px 10px;
  line-height: 19px;
}
b {
  font-weight: 900;
}
h1 {
  font-weight: normal;
}
h2 {
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
}
h3 {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 0.5em;
}
h4 {
font-family: "kalam", sans-serif;
font-weight: 400;
font-size: 20px;
line-height: 25px;
}
img {
  width: 100%;
  height: auto;
}
.flex {
  display: flex;
}
nav {
  height: 50px;
  justify-content:space-around;
}
nav img {
  width: 6em;
}
nav h5 img {
  width: 1em;
}
nav ul {
  justify-content: space-between;
}
nav ul img {
  width: 1em;
}
input {
  border-radius: 15px;
  width: 90%;
  padding: 5px;
  border: 1px solid #D5D5D5;
  background-image: url("../images/search-solid.svg");
  background-repeat: no-repeat;
  background-size: 1.2em;
  background-position: 0.4em;
}
input::placeholder {
  padding-left: 2em;
}
#dropdown {
  display: none;
  background-color: #fff;
  position: absolute;
  box-shadow: 65px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
  width: 350px;
  height: 1000px;
  left: 0;
  top: 0;
}
#dropdown li {
  padding: 15px 0px;
}
.top {
  position: absolute;
  z-index: 1;
  top: 190px;
}
.top ul {
  background-color: #fff;

}
.space {
  justify-content: space-between;
}
.times {
  width: 1em;
}
.search{
  justify-content: center;
}
.jumbotron {
  height: 8em;
  background-image: url("../images/Homepage-hero-L-week-48.jpg");
  background-size: contain;
  background-position: center;
  text-align: center;
  color: #fff;
}
.blokken img {
  height: 66px;

}
.blokken li {
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  border: 1px solid #D5D5D5;
  padding: 15px;
}
.blokken li:nth-of-type(1) {
  border-radius: 10px 0px 0px 10px; 
}
.blokken li:nth-of-type(3) {
  border-radius: 0px 10px 10px 0px;
}
.rijen li {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  border: 1px solid #D5D5D5;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.kalam {
  font-family: "kalam", sans-serif;
}
.arrow {
  background-color: #fdc513;
  padding: 7px 10px;
  border-radius: 26px;
}
.a-border {
  margin: 0.2em;
  border: 1px solid #c8c8c8;
}
.vierkanten {
  flex-wrap: wrap;
}
.vierkanten li {
  flex-basis: 50%;
  padding-bottom: 1em;
}
.vierkanten img {
  border-radius: 20px;
  width: 11em;
}
.vierkanten a {
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.vierkanten p {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #ababab;
}
.yellow-a {
  background-color: #fdc513;
}
.zekerheden {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
.black {
  background-color: #000;
  color: #fff;
}
.footer-center {
  flex-direction: column;
  justify-content: center;
}
.footer-center img {
  width: 7em;
}
.footer-overig {
  justify-content: space-around;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}
.copyright {
  justify-content: center;
  color: #ababab;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}
.black h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.brands {
  justify-content: space-around;
}
.brands img {
  width: 1em;
  background-color: black;
}
